.body {
    margin: 0;
    padding: 0;
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

.navbartop {
    background: white;
    display: flex;
    flex-direction: row;
}

.name {
  color: black;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.ros {
  font-size: 50px;
  margin-bottom: 5px;
}

.site {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbarbot {
    color: white;
    padding: 0px;
    align-items: center;
    background: rgb(200, 0, 0);
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.but1 {
    font-size: 30px;
    margin-left: 30px;
    padding: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.but {
  font-size: 30px;
  padding: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.butcur {
  font-size: 30px;
  padding: 0px;
  color: rgb(168, 168, 168);
  font-family: Arial, Helvetica, sans-serif;
}

.butspace {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    margin: 20px;
    height: 150px;
    width: auto;
}

.prof {
    height: 100px;
    width: auto;
    margin-top: 45px;
    margin-left: 1150px;
}

.stars {
    text-align: center;
    align-items: center;
    background-color: navy;
    display: flex;
    flex-direction: row;
    padding-left: 800px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .starimg {
    height: 50px;
    width: auto;
  }

.startingtxt {
    padding: 0;
    margin: 0;
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
  
.starttxt {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 440px;
    max-width: 1000px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sports1, .sports2 {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.bitimg {
  border-radius: 10px;
  margin-top: 10px;
  height: 200px;
  width: 150px;
  object-fit: cover;
}

.bit {
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  background-color: rgb(62, 62, 179);
  color: white;
}

.bittxt {
  font-family: Arial, Helvetica, sans-serif;
}

.rosspocon {
  padding-bottom: 50px;
  background-color: navy;
}

.rosspr {
  display: flex;
  flex-direction: row;
  margin-left: 440px;
  border-radius: 25px;
  background-color: white;
  align-self: center;
  max-width: 1000px;
}

.sporimg {
  margin-top: 15px;
  margin: 10px;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.txttit {
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 15px;
  width: 550px;
  height: auto;
  object-fit: cover;
}

.acttxt {
  height: 280px;
  border-radius: 10px;
  width: 550px;
  margin-left: 15px;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: navy;
}

.txt {
  margin: 10px;
}

.blackcon {
  background-color: white;
  margin: 0;
  padding: 0;
}

.black {
height: 50px;
background-color: rgb(100, 100, 100);
padding: 0;
margin: 0;
}

.spocollagecon{
  padding-top: 40px;
  background-color: white;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.spocollage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-left: 200px;
  background-color: #F8F8F8;
  max-width: 1500px;
}

.colimg {
  border-radius: 10px;
  height: 400px;
  width: auto;
}

.colimg1 {
  border-radius: 10px;
  height: 400px;
  width: 600px;
  object-fit: cover;
}

.colimg2 {
  border-radius: 10px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.colimg3 {
  border-radius: 10px;
  height: 400px;
  width: 484px;
  object-fit: cover;
}

.colimg4 {
  object-fit: cover;
  border-radius: 10px;
  height: 400px;
  width: 300px;
}

.colimg5 {
  object-fit: cover;
  border-radius: 10px;
  height: 400px;
  width: 600px;
}

.colimg6 {
  object-fit: cover;
  border-radius: 10px;
  height: 400px;
  width: 584px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: navy;
}

.footinfo, .footcred, .footmap, .footpar {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.footmap {
  margin-left: 15px;
}

.footimg {
  margin: 10px;
}

.footpar {
  margin-right: 15px;
}

.footbut {
  color: white;
}

.sportlink {
  color: white;
}

.dircon {
  background-color: white;
  justify-content: center;
}

.director {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-left: 200px;
  width: 1500px;
  background-color: #F8F8F8;
  font-family: Arial, Helvetica, sans-serif;
}

.dirtit {
  color: navy;
}

.dirbit {
  font-size: 20px;
}

.dirtext {
  margin-left: 10px;
  margin-right: 200px;
  width: 800px
}

.dirimg {
  border-radius: 10px;
  width: 500px;
  height: auto;
}

.moresport {
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(62, 62, 179);
}

.morelink {
  color: white;
  font-size: 20px;
  margin-top: 5px;
}