.body {
    margin: 0;
    padding: 0;
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

.navbartop {
    background: #3f52fb;
    display: flex;
    flex-direction: row;
}

.name {
  color: white;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.ros {
  font-size: 50px;
  margin-bottom: 5px;
}

.site {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbarbot {
    color: white;
    padding: 0px;
    align-items: center;
    background: radial-gradient(circle, rgba(251,63,63,1) 0%, rgba(252,0,0,1) 100%);
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.but1 {
    font-size: 30px;
    margin-left: 30px;
    padding: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.but {
  font-size: 30px;
  padding: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.butspace {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    margin: 20px;
    height: 150px;
    width: auto;
}

.prof {
    height: 100px;
    width: auto;
    margin-top: 45px;
    margin-left: 1150px;
}

.stars {
    text-align: center;
    align-items: center;
    background-color: navy;
    display: flex;
    flex-direction: row;
    padding-left: 800px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .starimg {
    height: 50px;
    width: auto;
  }

.startingtxt {
    padding: 0;
    margin: 0;
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
  
.starttxt {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 440px;
    max-width: 1000px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sports1, .sports2 {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.bitimg {
  border-radius: 10px;
  margin-top: 10px;
  height: 200px;
  width: 150px;
  object-fit: cover;
}

.bit {
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  background-color: #3f52fb;
  color: white;
}

.bittxt {
  font-family: Arial, Helvetica, sans-serif;
}

.rosspocon {
  padding-bottom: 50px;
  background-color: navy;
}

.rosspr {
  display: flex;
  flex-direction: row;
  margin-left: 440px;
  border-radius: 25px;
  background-color: white;
  align-self: center;
  max-width: 1000px;
}

.sporimg {
  margin-top: 15px;
  margin: 10px;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.txttit {
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 15px;
  width: 550px;
  height: auto;
  object-fit: cover;
}

.acttxt {
  height: 280px;
  border-radius: 10px;
  width: 550px;
  margin-left: 15px;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3f52fb;
}

.txt {
  margin: 10px;
}