.body {
    margin: 0;
    padding: 0;
}

.navbartop {
    background: #3f52fb;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
  color: white;
  margin-left: 20px;
}

.ros {
  font-size: 50px;
  margin-bottom: 5px;
}

.site {
  font-size: 25px;
}

.navbarbot {
    color: white;
    padding: 0px;
    align-items: center;
    background: radial-gradient(circle, rgba(251,63,63,1) 0%, rgba(252,0,0,1) 100%);
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.but1 {
    font-size: 30px;
    margin-left: 30px;
    padding: 0px;
    color: white;
}

.but {
  font-size: 30px;
  padding: 0px;
  color: white;
}

.butspace {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 50px;
}

.logo {
    margin: 20px;
    height: 150px;
    width: auto;
}

.prof {
    height: 100px;
    width: auto;
    margin-top: 45px;
    margin-left: 1150px;
}

.starcon {
  align-items: center;
}

.stars {
  text-align: center;
  align-items: center;
  background-color: navy;
  display: flex;
  flex-direction: row;
  padding-left: 800px;
  padding-top: 25px;
}

.starimg {
  height: 50px;
  width: auto;
}

.firstcon {
    background-color: navy;
}

.firstimg {
    padding-top: 20px;
    margin-left: 450px;
    margin-right: 450px;
    padding-bottom: 20px;
}

.img {
    border-radius: 10px;
}

.blackcon {
    background-color: white;
    margin: 0;
    padding: 0;
  }

.black {
  height: 50px;
  background-color: #000000;
  padding: 0;
  margin: 0;
}

.dtebox {
  background-color: white;
  margin-bottom: 50px;
}

.dte {
  margin-top: 50px;
  padding-top: 2.5px;
  border-radius: 25px;
  margin-left: 200px;
  width: 1500px;
  background-color: #F8F8F8;
  align-items: center;
  text-align: center;
}

.dtehead {
  padding-top: 10px;
  color: #3f52fb;
  font-family: Arial, Helvetica, sans-serif;
}

.dteimg {
  border-radius: 255px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.names {
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.nam {
  margin-left: 160px;
  margin-right: 170px;
}


.geobox {
  background-color: white;
  margin-bottom: 50px;
}

.geo {
  margin-top: 50px;
  padding-top: 2.5px;
  border-radius: 25px;
  margin-left: 200px;
  width: 1500px;
  background-color: #F8F8F8;
  align-items: center;
  text-align: center;
}

.geohead {
  padding-top: 10px;
  color: #3f52fb;
  font-family: Arial, Helvetica, sans-serif;
}

.geoimg {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.geoimgs {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 255px;
  height: 400px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #3f52fb;
}

.footinfo, .footcred {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.footimg {
  margin: 10px;
}