.body {
    margin: 0;
    padding: 0;
}

.navbartop {
    background: linear-gradient(90deg, rgba(5,0,70,1) 0%, rgba(3,34,182,1) 100%);
    display: flex;
    flex-direction: row;
}

.name {
  color: white;
  margin-left: 20px;
}

.ros {
  font-size: 50px;
  margin-bottom: 5px;
}

.site {
  font-size: 25px;
}

.navbarbot {
    color: white;
    padding: 0px;
    align-items: center;
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(125,0,0,1) 100%);
    display: flex;
    flex-direction: row;
}

.but1 {
    margin-left: 30px;
    padding: 0px;
    color: white;
}

.but {
    padding: 0px;
    color: white;
}

.butspace {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 50px;
}

.logo {
    margin: 20px;
    height: 150px;
    width: auto;
}

.prof {
    height: 100px;
    width: auto;
    margin-top: 45px;
    margin-left: 1150px;
}

.stars {
  text-align: center;
  align-items: center;
  background-color: rgba(0,0,36,1);
  display: flex;
  flex-direction: row;
  padding-left: 800px;
  padding-top: 25px;
}

.starimg {
  height: 50px;
  width: auto;
}

.slides {
  padding-top: 25px;
  background: linear-gradient(180deg, rgba(0,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(5,0,136,1) 100%);
}

* {box-sizing:border-box}

.slideshow-container {
  border: 5px solid rgb(247, 86, 86);
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-right: 448px;
  margin-top: 200px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-left: 441px;
  margin-top: 200px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #000000;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.idk {
  background-color: blue;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.thing1, .thing2, .thing3, .thing4 {
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.thingimg {
  height: 200px;
  width: 200px;
}

.thingbut {
  color: white;
  font-size: 30px;
  height: auto;
  width: auto;
  background-color: red;
}